.Weather {
    border: 1px solid #dadde1;
    font-family: Arial, sans-serif;
    color: #878787;
    padding: 16px;
    border-radius: 4px;
}


.Weather h1 {
    font-size: 28px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
}

.Weather ul {
    padding: 0;
    margin:4px 0 0 0 ;
}

.Weather li {
    list-style: none;
    line-height: 19px;
    font-size: 16px;
}

.WeatherInfo svg {
    height: 60px;
    width: 60px;
    display: inline-block;
}

.Weather .AnimatedWeatherIcon{
    display: inline;
}

.temp-unit {
    color: rgb(33, 33, 33);
}

.Weather .temperature {
    display: inline-block;
    vertical-align: top;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -3px;
}

.Weather .unit {
    vertical-align: top;
    padding: 0 0 0 4px;
    line-height: 35px;
}
